<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
</head>
<body>
    
    <div class="container">

        <div class="left_side">

            <h2>Add a new word</h2>
            <form action="/process" method="post">
                {% csrf_token %}                
                <input type="text" name="word">
                <input type="radio" name="color" id="red" value="red">
                <label for="red">Red</label>
                <input type="radio" name="color" id="green" value="green">
                <label for="green">Green</label>
                <input type="radio" name="color" id="blue" value="blue">
                <label for="blue">Blue</label>
                <input type="checkbox" name="font" value="strong">
                <label for="checkbox">show in BIG fonts!</label>
                <input type="submit" value="Add to Session">
            </form>
        </div>
        <div class="right_side">
            <button>Clear Session</button>
            {% for i in word_list %}
            <p style="color:{{i.color}}">{{ i.word }} - {{ i.created_at }}</p>
            {% endfor %}
        </div>


    </div>


</body>
</html>