<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    
    <h2>Welcome to QuotingDojo</h2>

    <form action="/quotes" method="post">
    
        Your Name: <input type="text" name="name">
        Your Quote: <textarea name="quote" cols="30" rows="10"></textarea>
        <input type="submit" value="Add my quote!">
    </form>

    <a href="/quotes"><button>Skip to quotes!</button></a>

</body>
</html>