<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users New</title>
</head>
<body>

    <h2>Add a new user</h2> 
    <form action="/users/create" method="post">
        First Name: <input type="text" name="create_first_name">
        Last Name: <input type="text" name="create_last_name">
        Email: <input type="text" name="create_email">
        <input type="submit" value="Create">
    </form>
    
    <a href="/users">Go Back</a>
    
</body>
</html>