<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User {{ id }}</title>
</head>
<body>

    <h2>Edit User {{ id }}</h2>

    <form action="/users/{{id}}", method="post">
        First Name: <input type="text" name="edit_first_name">
        Last Name: <input type="text" name="edit_last_name">
        Email: <input type="text" name="edit_email">
        <input type="submit" value="Update">
    </form>

    <a href="/users/{{id}}">Show</a>   
    
    <!-- <a href="">Go Back</a>  Needs a session to hold previous URL -->
    
</body>
</html>