<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Show</title>
</head>
<body>
    
    <h2>User {{ specific_friend[0]['id'] }}</h2>

    <p>Full Name: {{ specific_friend[0]['name'] }}</p>
    <p>Email: {{ specific_friend[0]['email'] }}</p>
    <p>Created at: {{ specific_friend[0]['created_at'] }}</p>

    <a href="/users/{{specific_friend[0]['id']}}/edit">Edit</a>
    
    <a href="/users/{{specific_friend[0]['id']}}/destroy">Delete</a>

</body>
</html>