<h3> Burbank, CA </h3>

<p> Humidity: {{ weather.main.humidity }} </p>
<p> Temperature (Average): {{ weather.main.temp }} </p>
<p> Temperature (High): {{ weather.main.temp_min }} </p>
<p> Temperature (Low): {{ weather.main.temp_max }} </p>
<p> Status: {{ weather.weather[0].description }} </p>

<img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1508470418000/photosp/bd509604-ac4a-4441-b215-64e553bcdff1/stock-photo-photography-travel-shopping-california-lifestyle-los-angeles-amazing-dining-burbank-bd509604-ac4a-4441-b215-64e553bcdff1.jpg" alt="burbank_img">