<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action="/process_form" method="post">
        {% csrf_token %}
        Your Name: <input type="text" name="name">
        Dojo Location:  <select name="location">
            <option value="mountain_view">Mountain View</option>
            <option value="seattle">Seattle</option>
            <option value="compton">Compton</option>
        </select>
        Favorite Location: <select name="language">
            <option value="koren">Korean</option>
            <option value="vietnamese">Vietnamese</option>
            <option value="japanese">Japanese</option>
        </select>
        Comment (optional):
        <textarea name="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="submit">

    </form>

</body>
</html>