<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <h2>Amadon Store!</h2>

    <table>
        <thead>
            <tr>
                <td>Item</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dojo Tshirt</td>
                <td>$19.99</td>
                <td>
                    <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='1' />
                    <input type='submit' value='Buy!' />
                  </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <td>
                    <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='2' />
                    <input type='submit' value='Buy!' />
                  </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Cup</td>
                <td>$4.99</td>
                <td>
                    <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='3' />
                    <input type='submit' value='Buy!' />
                  </form>
                </td>
            </tr>
            <tr>
                <td>Algorithm Book</td>
                <td>$49.99</td>
                <td>
                    <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='4' />
                    <input type='submit' value='Buy!' />
                  </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>