<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./style_index.css">
    <title>Survey Form</title>
</head>
<body>
    
    <form action="/process_form", method="post">

        Your Name: <input type="text" name="name">
        Dojo Location: 
        <select name="location">
            <option value="mountain_view">Mountain View</option>
            <option value="seattle">Seattle</option>
            <option value="new_york">New York</option>
        </select>
        Favorite Language:
        <select name="langauge">
            <option value="javascript">JavaScript</option>
            <option value="jumanji">Jumanji</option>
            <option value="lion_king">Lion King</option>
        </select>
        Comment (optional):
        <textarea name="comment" cols="30" rows="10"></textarea> 
        <input type="submit" value="Submit">
    </form>

</body>
</html>