<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Duck ID</title>
</head>
<body>

    <h3>Show Duck</h3>
    
    <a href="/duck/edit/<%=duck[0].id%>"><button>Edit</button></a>
    <a href="/"><button>Home</button></a>

    <p>Name: <%= duck[0].name %></p>
    <p>Skill: <%= duck[0].skill %></p>

</body>
</html>