<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users New</title>
</head>
<body>
    <h3>Add a new user</h3>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li style="color:red" {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/users/create" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="fname">
        Last Name: <input type="text" name="lname">
        Email: <input type="text" name="email">
        <input type="submit" name="submit" value="Create">
    </form>

    <a href="/users">Go Back</a>
</body>
</html>