<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>
    <button (click)="getTasksFromService()">Get all tasks</button>
    <p *ngFor="let task of tasks"> {{ task.title }} - {{ task.description }} </p>
  </div>

  <form (submit)="onSubmit()" >
    <p>{{ newTask | json }}</p>
    <label>
      Task title:
      <input type="text" name="newTask.title" [(ngModel)] = "newTask.title">
    </label>
    <label>Task description:
      <input type="text" name="newTask.description" [(ngModel)] = "newTask.description">
    </label>
    <input type="submit" value="Create Task">
  </form>

</div>


