<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a student to all bootcamp courses</title>
</head>
<body>
    
    <h2>Add a new course</h2>
    <form action="/process" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name">
        Description: <input type="textarea " name="description">
        <input type="submit" name="submit" value="Add">
    </form>

    <h3>Courses</h3>
    
    <table>
        <thead>
            <tr>
                <td>Course Name</td>
                <td>Description</td>
                <td>Date Added</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for i in all %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                <td>{{i.created_at}}</td>
                <td><a href="/destroy/{{i.id}}">remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>