<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index.html</title>
</head>
<body>

    <div class="container">

        <div class="registration">
            <h3>Register New User</h3>
            <form action="/register" method="post">
                First Name: <input type="text" name="first_name">
                Last Name: <input type="text" name="last_name">
                Email: <input type="text" name="email">
                Password: <input type="text" name="password">
                Confirm Password: <input type="text" name="confirm_password">
                <input type="submit" name="submit" value="create user">
            </form>
        </div>

        <div class="login">

            <h3>Login Existing User</h3>
            <form action="/login" method="post">
            
                Email: <input type="text" name="login_email">
                Password: <input type="text" name="login_password">
                <input type="submit" name="login_submit" value="submit login">
            
            </form>

        </div>

    </div>
    
</body>
</html>